body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.circleContainer{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.circle{
    width: 60px;
    height: 60px;
    background-color: pink;
    border-radius: 50%;
    cursor: pointer;
}