*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    justify-content: center;
    width: 100vw;
}

.container{
    border: 2px solid blue;
    margin: 5px 20px;

}





@media screen and (max-width: 640px) {
    body{
        flex-direction: column;
    }
    .container{
        margin: 20px 5px;
        border: 2px solid yellow
    }
}

@media screen and (max-width: 480px) {
    .container{
        font-weight: bold;
        border: 5px solid pink
    }
}